@media(max-width:1200px) {

    .welcome_container {
        width: 100%;
        height: 100%;
        position: fixed;
        display: grid;
        grid-template-columns: 18% 64% 18%;
        grid-template-rows: 15% auto 15%;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(169, 226, 209, 1) 0%, rgba(79, 195, 161, 1) 100%);
    }

    .welcome_main {
        width: 100%;
        height: 100%;
        grid-column: 2;
        grid-row: 2;
        background-color: rgb(230, 230, 230);
        box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.4);
        border-radius: 25px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 8% 25% auto;
    }

    .welcome_title {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        font-size: 15px;
        margin: 7px 0px;
        font-weight: bold;
        color: rgb(36, 38, 109);
        border-bottom: 1px solid rgba(36, 38, 109, 0.4);

    }

    .welcome_about {
        grid-row: 2;
        grid-column: 1;
    }

    .welcome_about p {
        font-size: 13px;
        text-align: center;
        font-weight: bold;
        color: rgb(36, 38, 109);
    }

    .welcome_about div {
        font-size: 10px;
        text-align: center;
        margin: 0px 15px;
    }

    .login_form {
        grid-row: 3;
        grid-column: 1;
        height: min-content;
        margin: 30px;
        background-color: rgb(219, 219, 219);
        box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.4);
        border-radius: 25px;
        min-height: 175px;
    }

    .login_form form {
        margin: 10px;
        padding: 5px;

    }

    .login_form input {
        width: 100%;
        margin: 5px auto;
        padding: 5px;
        background: none;
        outline: none;
        border: none;
        font-size: 10px;
        border-bottom: solid 1px rgb(36, 38, 109);
    }

    .login_form input:focus {

        border-bottom: solid 2px rgb(36, 38, 109);
    }

    .login_form button {
        float: right;
        padding: 2px 8px;
        margin: 8px;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid rgb(36, 38, 109);
        background: 0;
        color: #5a5a6e;
        cursor: pointer;
        width: 60px;
        height: 30px;
        color: rgb(36, 38, 109);
    }

    .login_form button:hover {
        font-weight: bold;
    }

    .login_form label {
        font-size: 18px;
        color: rgba(36, 38, 109);
    }

    .login_form span {
        font-size: 10px;
        margin: 0px 0px;
    }

    .login_form a {
        text-decoration: none;
        font-size: 10px;
    }





    .register_form {
        grid-row: 3;
        grid-column: 1;
        height: min-content;
        margin: 30px;
        background-color: rgb(219, 219, 219);
        box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.4);
        border-radius: 25px;
        min-height: 175px;
    }

    .register_form form {
        margin: 10px;
        padding: 5px;

    }

    .register_form input {
        width: 100%;
        margin: 5px auto;
        padding: 5px;
        background: none;
        outline: none;
        border: none;
        font-size: 10px;
        border-bottom: solid 1px rgb(36, 38, 109);
    }

    .register_form input:focus {

        border-bottom: solid 2px rgb(36, 38, 109);
    }

    .register_form button {
        float: right;
        padding: 1px 2px;
        margin: 8px;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid rgb(36, 38, 109);
        background: 0;
        color: #5a5a6e;
        cursor: pointer;
        width: 60px;
        height: 30px;
        color: rgb(36, 38, 109);
        font-size: 12px;
    }

    .register_form button:hover {
        font-weight: bold;
    }

    .register_form label {
        font-size: 18px;
        color: rgba(36, 38, 109);
    }

    .register_form span {
        font-size: 10px;
        margin: 0px 0px;
    }

    .register_form a {
        text-decoration: none;
        font-size: 10px;
    }



    /*app_container*/
    .app_container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns:100%;
        grid-template-rows:35px 25px auto;
        position: fixed;
    }

    /*header*/
    .header {
        background-color: #4FC3A1;
        grid-row: 1;
        width: 100%;
    }

    .header .title {
        font-size: 21px;
        color: #324960;
        position: relative;
        font-weight: bolder;
        margin: 0px 10px;
    }

    .header .logout {
        background-color: rgb(212, 0, 0);
        font-weight: bold;
        text-decoration: none;
        width: 70px;
        color: white;
        border-radius: 8px;
        font-size: 12px;
        font-family: initial;
        text-align: center;
        float: right;
        margin: 5px;
    }
    /*sidebar*/
    .sidebar {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        background-color: #324960;
        transition: 0.5s;
    }

    .sidebar ul {
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
    }


    .sidebar ul li {
        padding: 1px 4px;
        transition: 0.3s;
        list-style: none;
        text-align: center;
        display: inline;
    }

    .sidebar ul li a {
        text-decoration: none;
        font-size: small;
        display: inline;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }

    .sidebar ul li:hover {
        background-color: #445665;
    }

    .home_container {
        grid-column: 1;
        grid-row: 3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 25% 25%;
    }

    .table_container {
        grid-column: 1;
        grid-row: 1;
        margin: 10px;
        margin-top: 35px;
        border-radius: 15px;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
        height: max-content;
        overflow-x: scroll;
        width: max-content;
        min-width: calc(100vw - 20px);
    }

    .table {
        width: 100%;
    }

    .table thead {
        width: 100%;
        height: 25px;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    .table thead tr {
        width: 100%;
        padding: 5px 2px;
    }

    .table thead tr th {
        text-align: center;
        font-size: small;
    }

    .table tbody tr {
        width: 100%;
        padding: 10px 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        height: 30px;
        font-size: small;
    }

    .table tbody tr td {
        text-align: center;
        padding: 5px;
    }

    .btn-delete {
        padding: 4px;
        color: #fff;
        background-color: rgb(187, 0, 0);
        border-radius: 15px;
        margin: 3px;
        width: 50px;
        text-align: center;
        font-weight: bolder;
        height: 20px;
        text-decoration: none;
    }

    .btn-details {
        padding: 4px;
        color: #fff;
        background-color: rgb(87, 181, 221);
        border-radius: 15px;
        margin: 3px;
        width: 50px;
        text-align: center;
        font-weight: bolder;
        text-decoration: none;
    }

    .btn-edit {
        padding: 4px;
        color: #fff;
        background-color: rgb(36, 68, 173);
        border-radius: 15px;
        margin: 3px;
        width: 50px;
        font-weight: bolder;
        text-decoration: none;

    }


    .current_match {
        grid-row: 2;
        grid-column: 1;
        border-radius: 15px;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
        margin: 10px;
        display: grid;
        grid-template-rows:18px auto;
    }

    .current_match .title {
        color: rgba(0, 0, 0, 0.4);
        width: 100%;
        grid-row: 1;
        font-size: small;
        text-align: center;
    }

    .current_match ul {
        grid-row: 2;
        padding: 0px;
    }

    .current_match li {
        list-style: none;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.4);
        padding: 10px;
        margin: 5px;
        text-align: center;
        border-radius: 10px;
    }
    .next_match {
        grid-row: 3;
        grid-column: 1;
        border-radius: 15px;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
        margin: 10px;
        display: grid;
        grid-template-rows: 18px auto;
    }

    .next_match .title {
        color: rgba(0, 0, 0, 0.4);
        width: 100%;
        grid-row: 1;
        font-size:small;
        text-align: center;
    }

    .next_match ul {
        grid-row: 2;
        padding: 0px;
    }

    .next_match li {
        list-style: none;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.4);
        padding: 10px;
        margin: 5px;
        text-align: center;
        border-radius: 10px;

    }
    .scrollable{
        overflow-y: scroll;
    }


    /*matches page*/
    .matches_container {
        grid-column: 1;
        grid-row: 3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content auto;
        overflow-y:scroll;
    }

    .add_form {
        grid-row: 2;
        grid-column: 1;
        width: auto;
        height: min-content;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 0 20px -10px #000;
        margin: 20px 10px;
        padding: 20px 30px;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

    .add_form input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: none;
        outline: none;
        resize: none;
        border: 0;
        font-family: 'Montserrat', sans-serif;
        transition: all .3s;
        border-bottom: 2px solid #bebed2
    }

    .add_form input:focus {
        border-bottom: 3px solid #bebed2;
    }

    .add_form button {
        float: right;
        padding: 8px 12px;
        margin: 8px 0 0;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid #78788c;
        background: 0;
        color: #5a5a6e;
        cursor: pointer;
        transition: all .3s;

    }

    .table_title {
        font-size: 15px;
        font-weight: bold;
        margin: 10px;
        color: rgb(36, 38, 109);
        grid-row: 1;
        grid-column: 1;

    }

    .text-error {
        color: red;
    }

}